<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lovejjfg.clipboard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ClipService"
            android:exported="true"
            android:permission="com.lovejjfg.canClipe"
            android:process=":service">
        </service>

        <activity
            android:name=".DialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.lovejjfg.clipboard.dialog"
            android:theme="@style/AppTheme.Transparent"
            >
        </activity>
    </application>

</manifest>